<section>
  <div class="left-col">
    <h1> Hey! I'm Raphael Rouf.</h1>
    <p class="subhead">As a Graduate Researcher for IBM CAS, I enjoy exploring the forefront of technology and fostering
      collaborative efforts.
      Beyond my research, I'm venturing into the creative sphere of web design. I aspire to master UX/UI Design and
      JavaScript/HTML/CSS,
      aiming to enhance my skills with creativity on projects I'm truly proud of. Every day presents an opportunity for
      me to grow and learn!</p>
    <div class="cta-buttons">
      <!-- Button 1 -->
      <a routerLink="ContactMe" class="primary-cta"> Contact Me!</a>
      <!-- Button 2 -->
      <a routerLink="PublishedPapers" class="secondary-cta"> <!-- ROUTING TO Published Papers When button is Clicked-->
        <span>Browse My Publications</span>
        <!-- Arrow -->
        <svg viewBox="0 0 27 15" fill="none">
          <path
            d="M26.2071 8.20711C26.5976 7.81658 26.5976 7.18342 26.2071 6.79289L19.8431 0.428931C19.4526 0.0384069 18.8195 0.0384069 18.4289 0.428931C18.0384 0.819456 18.0384 1.45262 18.4289 1.84315L24.0858 7.5L18.4289 13.1569C18.0384 13.5474 18.0384 14.1805 18.4289 14.5711C18.8195 14.9616 19.4526 14.9616 19.8431 14.5711L26.2071 8.20711ZM0.5 8.5H25.5V6.5H0.5V8.5Z"
            fill="black" />
        </svg>
      </a>
    </div>

    <div class="news">
      <p class="publications">3 Publications!</p>
      <p class="details">I am proud to announce that our recent Paper
        <strong>"InstantOps: A Joint Approach to System Failure Prediction and Root Cause Identification in
          Micro-services
          Cloud-Native Applications"</strong> in Collaboration with CERAS Labs & IBM Research was <strong>" Accepted in
          the ACM/SPEC
          ICPE 2024 Conference Industry Track Paper at London UK!</strong>
      </p>
    </div>

  </div>

  <div class="right-col">
    <div class="card card1">
      <div class="card-details">
        <div> <a href="#" class="raphaels-title"> Information Systems & Technology (IST) Master's Student</a>
          <p>CAS Graduate Researcher in collaboration with IBM. </p>
          <p> <strong> Research Background: </strong> <i>Performance Monitoring, Chaos Engineering, System Failure
              Detection
              & Prediction and Root Cause Analysis.</i>
          </p>
          <p> <strong> Interests: </strong> <i> UX/UI Web & App Design, Front-End Development, Monitoring App Performance & Failure Detection</i>
        </p>
        </div>
      </div>
    </div>

  </div>
</section>
