section {
    display: flex;
    gap: 8em;
    margin-top: 11em;
    /* Putting Gap in between left column and right column 
   
    margin-bottom: 11em;*/
}
/* Left column width is 45% of the page */
.left-col {
    width: 45%;
}

.right-col {
    flex-grow: 1;
}

/* the heading text */
h1 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 1;
}

/* The class for the subheading text */
.subhead {
    font-size: 1.8rem;
}

/* Target buttons on a role set */
.cta-buttons {
    margin: 5em 0;
}

/* Tqo or more Columns means display flex*/
.cta-buttons,
.secondary-cta {
    display: flex;
    gap: 2em;
}

.primary-cta {
    background-color: #EF587C;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
        /* top bottom , left right */
}

.secondary-cta {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    display: block;
    /* Right now its on two lines, display block will make sure words dont wrap*/
    padding: 1em 0;
    /* Space on the Top and bottom, left and right */
}

.secondary-cta svg {
    width: 20px;

    /*  related to micro interactions*/
    transition: transform .3s;
}


.news {
    
    gap: 3em;
    padding: 2em;
    border: 1px solid black;
    border-radius: .8em;
    position: relative;


}

.news:before {
    position: absolute;
    content: "";
    background: url('/assets/confetti.svg');
    width: 100px;
    height: 100px;
    top: -30px;
    left: -20px;
    z-index: 2;
}

p.publications {
    font-size: 3.3rem;
    margin: 0;
    font-weight: bold;

}

p.details {
    font-size: 1.4rem;
    margin: 0;
}

.right-col {
    display: grid;
    grid-template-columns: auto; /* Set up a single auto-sized column */
}

.card {
    border-radius: .16em;
    padding: 1.1em;
    display:flex;  
}

.card1{
    width: 550px;
    height: 560px;
    flex-shrink: 0;
    border-radius: 560px;
    background: url('/assets/profilepicture.svg') lightgray 50% / cover no-repeat;
    justify-content: center; /* Centers items horizontally */
    align-items: end; /* Aligns items to the top vertically */
}

.card-details{
    background: white;
    border-radius: .6em;
    padding: 2em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.card-details a {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}

.card-details p{
    font-size:1.4rem;
    margin: 0;
}

/* micro interactions*/
.primary-cta:hover{
    background: #ED1D4F;
    
}

.secondary-cta:hover svg{
    transform: translateX(10px);
}

.secondary-cta:hover {
text-decoration-line: underline;
}
