<!-- Div : Structural Purposes for the entire web page-->

<header> 
  <div class="Header_Wrapper"> 
    <app-portfolio-header></app-portfolio-header> 
  </div>
</header>

<section>
  <div class="wrapper"> 
  <!-- Element that wraps around both the logo and the navigation. They are in two columns, the default is sitting on top . This element is called header -->
    <router-outlet></router-outlet>
  </div>
</section>

<footer> 
  <div class="Footer_Wrapper"> 
    <app-portfolio-footer></app-portfolio-footer>
  </div>
</footer>

