<header>
<!--  Logo -->
<a routerLink="" class="AboutMePage">  <!-- Route To First Page-->
  
  <img src="/my-portfolio/assets/RaphaelRouf.io.svg" alt="Raphael Portfolio Logo">

</a>
<!--  Navigation -->
<!--  Nav Tag: Parent element that wraps around it in columns -->

<nav> 
    <!--  For Nav elements, inside of it we have to use another element to structure the type of data that is present. The type of data present here is an Unordered list  UL for short-->
    <!-- <ul> Unordered list is the data presented here  -->
    <!-- <li> is to list the data -->
    <!-- <a href="#"</a> is to make it a link -->
    <!--  class="active" is so that the css can add the underline based on the currently active page   -->
    <ul> 
      <!--
      <li><a routerLink="" class="active">About Me</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Resume</a></li>
      -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <a routerLink="">About Me</a></li>
      <li routerLinkActive="active"> <a routerLink="#">Education</a></li>
      <li routerLinkActive="active"> <a routerLink="#">Skills</a></li>
      <li routerLinkActive="active"> <a routerLink="#">Experience</a></li>
      <li routerLinkActive="active"> <a routerLink="#">Resume</a></li>
      
    </ul>
  </nav>
</header>