<section> 
   <!--
    <div class="left-page">
        <h1>Get in Touch!</h1>

        <div class="subhead">
        
            <p>Whether you're interested in my work, have a project in mind,
                or just want to say hello, I'd love to hear from you!
            </p>

            <div class="thankyou"></div>

        </div>
    </div>--> 

        <div class="page">
            <div class="top-page">
                <h1>Let's Get in Touch!</h1>
            </div>

            <div class="subhead">
                <p>Whether you're interested in my work, have a project in mind,
                    <br>or just want to say hello, I'd love to hear from you!
                </p>
            </div>
            
            
            <div *ngIf="!name; else forminfo">
            <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                <div class="form-container">
                    
                    <div class="top">
    
                        <div class="top-row">
    
                            <label class="name"> NAME:
                                <input type="text" formControlName="name">
                            </label>
    
                            <label class="email"> EMAIL:
                                <input type="text" formControlName="email">
                            </label>
                        </div>
                    </div>
                    
                    <div class="middle">
                        <div class="middle-row">
                           <!-- <label class="subject"> SUBJECT:
                                <input type="text" formControlName="subject">
                            </label>-->
                            <label class="message"> MESSAGE:
                                <textarea formControlName="message"></textarea>
                            </label>
                        </div>
    
                    </div>
                    
    
                    <div class="bottom">
                        <div class="bottom-row"> 
                            <input type="submit" class="button expanded" value="SUBMIT" [disabled]="!rForm.valid"> 
                        </div>
                        <div class="bottom-row2"> 
                            <div class="thankyou"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template #forminfo>
        <div class="form-container">
            <div class="row columns">
                <h1>{{ name }}</h1>
                <h2>{{ email }}</h2>
                <h3>{{ subject }}</h3>
                <p>{{ message }}</p>
            </div>
        </div>
    </ng-template>

</section>