section {
    display: flex;
    gap: 8em;
    margin-top: 11em;
    
    /* Putting Gap in between left column and right column 
   
    margin-bottom: 11em;*/
}

/* the heading text */
h1,h2,h3 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 0;
}

/*
.left-page {
    width: 45%;
    margin: 0;
    padding: 0; 
}

.right-page {
    flex-grow: 1;
    margin: 0; 
    padding: 0; 
}
*/

.page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto;

    
}

.subhead {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
}

.form-container {
    /* Add some space above the element */
    width: 616px;
    height: auto; /* Set height to auto */
    flex-shrink: 0; 
    border-radius: 9px;
    border: 3px solid #FFF;
    background: #FFF; 
    margin: 0 auto;
}













/* Left column width is 45% of the page */
.top {
    margin-top: 3.6875em;
    margin-left: 2.25em;
    /* background-color: #ff0202;  Set background color */
    /* padding: 30px; Add padding */
}

.top-row {
    display: flex;
    gap: 1.4375em;
}

.name {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 
    }
    
.name input[type="text"] {
    display:block;

    width: 255px;
    height: 53px;
    flex-shrink: 0; 

    border-radius: 9px;
    border: 3px solid #000;
    background: #FFF; 
}

.email {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 
    }
    
.email input[type="text"] {
    display:block;

    font-size: 16px;

    width: 262px;
    height: 53px;
    flex-shrink: 0; 

    border-radius: 9px;
    border: 3px solid #000;
    background: #FFF; 
}

/* Left column width is 45% of the page */
.middle {
    margin-top: 2.4375em;
    margin-left: 2.25em;
    /* background-color: #ff0202;  Set background color */
    /* padding: 30px; Add padding */
   
}

.middle-row {
    display: flex;
    gap: 2.4em;
}

.subject {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 
    }
    
.subject input[type="text"] {
    display:block;

    font-size: 16px;

    width: 540px;
    height: 51px;
    flex-shrink: 0; 

    border-radius: 9px;
    border: 3px solid #000;
    background: #FFF; 
}




.bottom {
    display: flex;
    flex-direction: column;
    margin-top: 1.875em;
    margin-left: 2.25em;
    /* padding: 30px; Add padding */
}

.bottom-row {
    display: flex;
    gap: 2em;
}
.bottom-row2 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto;
}

.message {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 
    }
    
.message textarea {
    display:block;

    font-size: 16px;

    width: 543px;
    height: 173px;
    flex-shrink: 0;  

    border-radius: 9px;
    border: 3px solid #000;
    background: #FFF; 
}






/* */


.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

.button {
    /* Styling Font */
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 27.9px */ 

    /* Button Size */
    display: flex;
    width: 394px;
    height: 48px;
    flex-shrink: 0; 

    /* Button Border and Color */
    border-radius: 9px;
    border: 2px solid #000;
    background-color: #EF587C;
    text-decoration: none;
    
    /* Button Position */
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto;
}


@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}



.thankyou {
    width: 377px;
    height: 143px;   
    background: url('/my-portfolio/assets/thankyou.JPG') lightgray 50% / cover no-repeat;
    
}