section {
    display: flex;
    gap: 8em;
    margin-top: 11em;
    /* Putting Gap in between left column and right column 
    
    margin-bottom: 11em;*/
}

/* Left column width is 45% of the page */
.left-col {
    width: 70%;
}

.right-col {
    flex-grow: 1;
}

/* the heading text */
h1 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 0;
}
/* The class for the subheading text */
.subhead {
    font-size: 1.8rem;
}

/* Target buttons on a role set To put space between the top and bottom */
.cta-buttons {
    display: flex;
    margin: 5em 0;
    gap: 2em;
}

.primary-cta,.secondary-cta { 
    background-color: #EF587C;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
        /* top bottom , left right */
    border: none;
    outline: none;

}
.proceeding {
    gap: 3em;
    padding: 2em;
    border: 1px solid black;
    border-radius: .8em;
    position: relative;
    
}

p.publications {
    text-decoration: none; 
    color: black; 
    font-size: 3.3rem;
    margin: 0;
    font-weight: bold;
}

ol li a{
    text-decoration: none;  /* get rid of underlines */
    color: black; 
    font-size: 1.0rem;
    margin: 0;
    position: relative; /* The position is relative to its parent element container*/
}

p.details{
    font-size: 1.2rem;
    margin: 0;   
}

/* micro interactions*/
.primary-cta:hover{
    background: #ED1D4F;
    
}

.secondary-cta:hover{
    background: #ED1D4F;
}

.paper1{
    width: 304px;
    height: 389px;
    flex-shrink: 0;
    background: url('/assets/paper1.svg') lightgray 50% / cover no-repeat;
    stroke-width: 1px;
    stroke: #000;
}

/* micro interactions*/
nav ul li a:hover:before { 
        width: 35%
}


